.carousel-caption h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.carousel-caption .btn {
  font-size: 1rem;
  padding: 10px 20px;
}

.slide-1 .carousel-caption {
  color: #f36161;
  text-align: right;
}

.slide-2 .carousel-caption {
  color: #fcfcfe;
}

.slide-3 .carousel-caption {
  color: hsla(0, 80%, 36%, 0.696); /* Blue text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
