* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.foot {
  margin-top: 10px;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  color: #333;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-left: 120px;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-section .social-media li {
  display: inline;
}

.footer-section .social-media li a {
  font-size: 24px;
  color: #333;
}

.footer-section .social-media li a:hover {
  color: #007bff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.one {
  margin-left: 120px;
}
