/* General Icon Styles */
i {
  margin: 4px;
  color: black;
}

.bi-heart:hover {
  color: red;
}

/* Box Class */
.box {
  position: relative;
  z-index: 1;
}

/* Menu Toggle Button */
.menu-toggle {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
}

/* Menu Styles */
.menu {
  padding: 0;
  margin: 0;
  display: flex;

  /* list-style: none; */
  background-color: beige;

  justify-content: center;
  background-color: beige;
  text-decoration: none;
  color: black;
}

.menu.open {
  display: block;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu li {
  margin: 5px 0;
  margin-right: 20px;
  list-style-type: none;
  position: relative;
}

.menu li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: beige;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu li:hover ul {
  display: block;
}

.menu li:hover > a {
  color: red;
}

.menu li ul li {
  padding: 10px;
  white-space: nowrap;
}

/* Logout Button */
.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}

/* Styles for Mobile Screens */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
  }

  .menu.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .menu li ul {
    position: static;
    box-shadow: none;
  }

  .menu li:hover ul {
    display: none;
  }

  .menu li.open ul {
    display: block;
  }
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #f8f9fa;
  position: relative;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-icons a,
.nav-icons button {
  margin-left: 15px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-icons i {
  font-size: 1.2rem;
}
